/* -- buttons ->- Borrowed and modified from Khepri admin template */

.jevbutton-left,
.jevbutton-right,
.jevbutton-left div,
.jevbutton-right div {
	/*float: left;*/
	display: inline-block;
}

.jevbutton-left a,
.jevbutton-right a,
.jevbutton-left span,
.jevbutton-right span {
	/*display: block;
	height: 22px;
	float: left;
	line-height: 22px;
	font-size: 11px;*/
	color: #fff;
	cursor: pointer;
	
}

.jevbutton-left span,
.jevbutton-right span { cursor: default; color: #fff; }

.jevbutton-left .page a,
.jevbutton-right .page a,
.jevbutton-left .page span,
.jevbutton-right .page span,

.jevbutton-left a:hover,
.jevbutton-right a:hover { text-decoration: underline; color: #fff; }

.jevbutton-left a,
{ 
	background: none repeat scroll 0 0 #000000;
    border: 2px solid #BABABA;
    border-radius: 5px;
    padding: 5px;
	color: #999999;
}

.jevbutton-left span { 
	background: none repeat scroll 0 0 #000000;
    border: 2px solid #BABABA;
    border-radius: 5px;
    padding: 5px;
	color: #999999;
	}

.jevbutton-right a,
.jevbutton-right span { /*padding: 0 6px 0 24px; */}

.jevbutton-left { 
 /*background: url(../images/jevbutton_left.png) no-repeat; */
 /* float: left;
  margin-right: 5px;*/
  margin-top: 18px;
  display: inline-block;
  }
  
.jevbutton-left .next{
	 margin-right: 4px;
}


.jevbutton-right { 
/*background: url(../images/jevbutton_right.png) 100% 0 no-repeat;
 float: left; */
 display: inline-block;
 margin-right: 4px; 
 margin-top: 18px;
 }

.jevbutton-right .prev a{ 
/*background: url(../images/jevbutton_prev.png) no-repeat;*/ 
  background: none repeat scroll 0 0 #000000;
    border: 2px solid #BABABA;
    border-radius: 5px;
    padding: 5px;
}

.jevbutton-right.off .prev span{ 
/*background: url(../images/jevbutton_prev_off.png) no-repeat; */
  background: none repeat scroll 0 0 #000000;
    border: 2px solid #BABABA;
    border-radius: 5px;
    padding: 5px;
	 color: #999999;
	 
}

.jevbutton-right .start a{ 
/*background: url(../images/jevbutton_first.png) no-repeat; */
  background: none repeat scroll 0 0 #000000;
    border: 2px solid #BABABA;
    border-radius: 5px;
    padding: 5px;
}

.jevbutton-right.off .start span{
	/* background: url(../images/jevbutton_first_off.png) no-repeat;*/
	background: none repeat scroll 0 0 #000000;
    border: 2px solid #BABABA;
    border-radius: 5px;
    padding: 5px;
	 color: #999999;
}

.jevbutton-left .page { 
/*background: url(../images/jevbutton_right_cap.png) 100% 0 no-repeat;*/
 }
 .jevbutton-left .page span{ 
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #BABABA;
    border-radius: 5px;
    color: #000000;
    padding: 5px;
    text-decoration: none;
   margin-right: 4px; 

 }
 .jevbutton-left .page a{ 
    background: none repeat scroll 0 0 #000000;
    border: 2px solid #BABABA;
    border-radius: 5px;
    padding: 5px;
	text-decoration: none;
	margin-right: 4px;
	
 }

.jevbutton-left .next a{ 
/*background: url(../images/jevbutton_next.png) 100% 0 no-repeat; */
  background: none repeat scroll 0 0 #000000;
    border: 2px solid #BABABA;
    border-radius: 5px;
    padding: 5px;
}

.jevbutton-left.off .next a{ 
/*background: url(../images/jevbutton_next_off.png) 100% 0 no-repeat;*/
  background: none repeat scroll 0 0 #000000;
    border: 2px solid #BABABA;
    border-radius: 5px;
    padding: 5px;
 }

.jevbutton-left .end a{ 
/*background: url(../images/jevbutton_last.png) 100% 0 no-repeat;*/
  background: none repeat scroll 0 0 #000000;
    border: 2px solid #BABABA;
    border-radius: 5px;
    padding: 5px;
 }

.jevbutton-left.off .end a{ 
/*background: url(../images/jevbutton_last_off.png) 100% 0 no-repeat; */
  background: none repeat scroll 0 0 #000000;
    border: 2px solid #BABABA;
    border-radius: 5px;
    padding: 5px;
	 color: #999999;
}

.count{
  background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #BABABA;
    border-radius: 5px;
    color: #000000;
    margin: 10px auto auto;
    padding: 5px;
    width: 75px;
}
