/* Negative Margins */

#YourCalendar {
  margin-top:-138px;
}
#EventsInfo {
  margin-top:-160px;
}
#LowerAds {
  margin-top:-945px;
}
#LowerTallAd {
  margin-top:-385px;
}

/* ------------------------------------------------------------------- */