/* Negative Margins */

#FavPlacesSection {
  margin-top:-138px;
}
#PlacesInfo {
  margin-top:-241px;
}
#PlacesPhotos {
  margin-top:-103px;
}
#LowerAds {
  margin-top:-257px;
}

/* ------------------------------------------------------------------- */