body.tablet .rightCol div.fl { width:100%; }
body.tablet .rightCol.fr {
  float:left;
  clear:none;
  margin-top:0;
  margin-bottom:0;
}
body.tablet #BlogCol.rightCol.fr {
  float:right;
}
body.tablet .rightCol.fr .ad {
  margin-bottom:30px;
}
body.tablet .rightCol.fr.sr {
  float:right;
}
body.tablet .rightCol.fr.adSect {
  float:right;
}
body.tablet .rightCol.fr.adSect.dual {
  clear:left;
}
body.tablet .rightCol.fr.adSect.tall {
  float:left;
  clear:none;
}
body.tablet .rightCol.spread {
  max-width:none;
  margin-bottom:0;
}
body.tablet .ad.sect.full {
  width:100%;
  clear:both;
}
body.tablet .ad.sect img {
  margin:auto;
}
body.tablet .sect.grid ul li {
  margin-right:1%;
}
body.tablet #Social {
  /*margin-top:30px;*/
  margin-top:0;
  margin-right:20px;
  position:relative;
  z-index:900;
}
body.tablet #Social a {
  margin-left:20px;
}
body.tablet #Social #LoggedIn {
  width:196px;
}
body.tablet #Header .headerAdFlex {
  margin-top:17px;
  float:none;
  margin-left:190px;
  width:auto;
}
body.tablet #Header #UpperBannerAd {
  margin-right:0;
}
body.tablet #Local {
  width:auto;
  margin:0;
  float:none;
  position:relative;
  top:8px;
  font-size:12px;
}
body.tablet #Weather {
  float:none;
}
body.tablet #Weather .range {
  display:block;
}
body.tablet #GuideInfo {
  position: absolute;
  right: 0;
  top: 84px;
}
body.tablet #GuideInfo #Local {
  margin-left:0;
}
body.tablet #MainNav ul li.active ul li {
  min-height:37px;
}
body.tablet #MainNav ul li.active ul li a {
  line-height:39px;
}
body.tablet #LowerBannerAd {
  display:block;
  margin-bottom:30px;
}
body.tablet #LowerBannerAd.min img {
  width:310px;
}
body.tablet #EvtRot {
  max-width:755px;
}
body.tablet .gallery {
  margin-bottom:0;
}
body.tablet .gallery ul {
  width:280px;
  height:171px;
}
body.tablet .gallery .event .rsvpCont {
  position:relative;
}
body.tablet .gallery .event .rsvp .faces {
  width:205px;
}
body.tablet .gallery .event .rsvp .faces img {
  margin-left:7px;
}
body.tablet #EvtRot .galleryNav {
  clear:left;
  margin-bottom:30px;
  max-width:none !important;
}
body.tablet .galleryNav a.saved {
  background:none;
  padding:8px 12px;
}
body.tablet .rotator {
  margin-left:30px;
}
body.tablet #EvtRot {
  margin-left:30px;
}
body.tablet .rotator .centerCol {
  max-width:none;
  margin-right:0;
}
body.tablet #EvtRot .centerCol {
  max-width:none;
  margin-right:0;
}
body.tablet .centerCol .sect ul li {
  width:32%;
}
body.tablet .centerCol .sect.horiz ul li, 
body.tablet .centerCol .sect ul li .thumb img {
  width:100%;
}
body.tablet .centerCol .sect ul li .thumb img {
  height:auto !important;
}
body.tablet .centerCol .sect.horiz ul.mediaThumbs li {
  width:32%;
}
body.tablet .centerCol #PhotoGallery.sect.horiz ul.mediaThumbs li {
  width:130px;
}
body.tablet .centerCol #VideoGallery.sect.horiz ul.mediaThumbs li {
  width:120px;
}
body.tablet .centerCol #PhotoGallery.sect.horiz ul.mediaThumbs li:nth-child(3n+0) {
  margin-right:10px;
}
body.tablet .centerCol #VideoGallery.sect.horiz ul.mediaThumbs li:nth-child(3n+0) {
  margin-right:25px;
}
body.tablet .centerCol .sect.horiz ul.mediaThumbs li .thumb img {
  width:100%;
  margin:auto;
}
body.tablet .centerCol .sect.horiz .photoAlbum.listing ul.mediaThumbs li .thumb img {
  width:auto;
}
body.tablet #SubmitPhotos {
  width:100%;
}
body.tablet .name h2 {
  margin-bottom:30px;
  font-size:18px;
}
body.tablet .name .bc a {
  font-size:14px !important;
}
body.tablet .neg {
  margin-top:0 !important;
}
body.tablet #FindForm input.search {
  width:48%;
}
body.tablet #FindForm .type {
  width:27%;
}
body.tablet #FindForm .sub, 
body.tablet #FindForm .sub a {
  font-size:14px;
}
body.tablet #FindForm .sub a {
  padding:0 15px;
}
body.tablet #FindForm .sub span {
  display:block;
  padding-bottom:15px;
}
body.tablet #SubmitForm #DatePicker input {
  width:79%;
}
body.tablet .detailFeature a {
  margin:25px 0;
}
body.tablet #ShareTool .lower span.hideSm {
  display:none;
}
body.tablet .detailFeature .map img {
  width:300px;
  height:auto;
  padding:0 0 15px 15px;
}
body.tablet .detailFeature .evtTmb img {
  width:300px;
  height:auto;
  padding:0 0 15px 15px;
}
body.tablet .detailFeature .evtTmb .rsvpBtn {
  margin-left:12px;
  font-size:14px;
}
body.tablet .detailFeature .people .likes {
  width:45%;
}
body.tablet .detailFeature .people .checkins, 
body.tablet .detailFeature .people .rsvps {
  width:55%;
}
body.tablet .detailFeature .people .checkins .pad, 
body.tablet .detailFeature .people .rsvps .pad {
  padding-left:2px;
}
body.tablet .rotator {
  margin-bottom:30px;
}
body.tablet .rotator .gallery {
  margin-bottom:0;
}
body.tablet #Blog .sect .description h1 span {
  float:none;
  line-height: 14px;
  margin-bottom: 5px;
}
body.tablet #Blog .sect .description ul li h3 {
  font-size:18px;
}
body.tablet #Blog .sect .description ul li a, 
body.tablet #Blog .sect .description ul li p {
  font-size:16px;
  line-height:22px;
}
body.tablet #Blog .sect .featureImg img {
  width:100%;
}
body.tablet .sharingSmall {
  padding:14px 0;
  width:100%;
}
body.tablet .sharingSmall span {
  margin:7px 3%;
}
body.tablet .ratingWidget .stars.vote a { 
  margin:0 40px 0 0 !important;
}
body.tablet .ratingWidget .stars.vote {
  width:280px;
}
body.tablet #SearchResults li .thumb img {
  width:300px;
}
body.tablet #SearchResults .ratingWidget {
  position:static;
}
body.tablet #SearchResults .ratingWidget .stars a {
  margin:2px 36px 1px 0 !important;
}
body.tablet #SearchResults h2 {
  font-size:20px;
}
body.tablet #SearchResults h3, 
body.tablet #SearchResults a {
  font-size:18px;
  line-height:28px;
  margin-bottom:25px;
  word-wrap:break-word;
}
body.tablet #SearchResults .bc {
  float:none;
  font-size:14px;
}
body.tablet #SearchResults .venueName {
  float:none;
}
body.tablet .takeOverlay {
  width:80%;
  margin-left:0;
  top:10%;
  left:10%;
}
body.tablet .takeOverlay .socialLinks {
  margin:20px auto;
  width:145px;
}
body.tablet .detailFeature .people .checkins .seeAll {
  font-size:14px;
  line-height:32px;
  text-decoration:underline;
  margin:0 0 0 15px;
}
body.tablet .detailFeature .people .checkins .seeAll:hover {
  text-decoration:none;
}
body.tablet #AttendancePanel .attendeeList .attendee {
  width:70%;
  line-height:22px;
  margin-bottom:15px;
}
body.tablet #AttendancePanel .attendeeList .attendee img {
  margin-right:15px;
}


@media all and (max-width: 733px) {

#TopBar .links {
  display:none;
}

#GuideInfo .search {
  display:none;
}

.centerCol {
  width:100%;
  margin:0;
  max-width:100%;
}

.rotator {
  max-width:100%;
  margin-left:0 !important;
}

.gallery .nav {
  display:none !important;
}

.rightCol {
  
}

#Footer {
  height:auto;
  padding-bottom:30px;
}

#Footer ul li {
  float:none;
  width:100%;
}

#Feat .sect {
  border-left:0 none;
  padding:0;
}



  #TopBar {
    z-index:2000;
    position:fixed;
    top:0;
    height:36px;
  }

  #TopBar .button {
    background: #ebe9f9; /* Old browsers */
  background: -moz-linear-gradient(top,  #ebe9f9 0%, #9b9b9b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebe9f9), color-stop(100%,#9b9b9b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ebe9f9 0%,#9b9b9b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ebe9f9 0%,#9b9b9b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ebe9f9 0%,#9b9b9b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ebe9f9 0%,#9b9b9b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-9 */
    width: 26px;
    height: 22px;
    text-indent: -20000px;
    border: 1px solid #000;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    display:block;
    text-indent:-20000px;
    cursor:pointer;
    margin-top:3px;
    margin-left:10px;
  }
  #TopBar #MenuBtn span {
    background: url('../images/glyphicons-halflings.png') no-repeat -336px -48px;
    height: 14px;
    width: 14px;
    margin: auto;
    margin-top: 4px;
    display: block;
  }

  #TopBar .powered {
    float:right !important;
    margin-right:10px;
  }

  .sWidth {
    padding:0;
  }

  #Header {
    height:auto;
    text-align:center;
    padding-bottom:10px;
    display:none;
  }

  #Header .headerAdFlex {
    margin:0 !important;
    text-align:center;
  }

  #LeftCol {
    background:#f1f1f1;
    position:absolute;
    left:0;
    top:0;
    z-index:999;
    width:85%;
    border-right:1px solid #000;
    margin-left:-1px;
    margin-right:0;
  }
  #MobileHeader, #MainNav, #LeftCol .sect {
    margin-left:1px;
  }

  #LeftCol .swipe {
    width: 18%;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 1012;
    right:-18%;
  }

  #MainNav ul {
    border-left:0 none;
  }

  #MainNav ul li {
    width:100%;
  }

  #MainContent #LeftCol .sect {
    text-align:center;
  }

  #MainContent #LeftCol .sect img {
    margin:auto;
  }

  #MainContent .sect .bc {
    padding-right:10px;
  }

  #WidgetArea {
    background:#fff;
    position:relative;
    z-index:1000;
    top:-4px;
  }

  #MainContent .bannerAd img {
    display:block;
  }

  #UpperBannerAd {
    margin-left:0 !important;
  }

  #LowerBannerAd {
    margin-bottom:0 !important;
  }

  #MobileBannerAd {
    display:block;
    margin-bottom:30px;
  }

  #Social {
    display:none;
  }

  #Logo {
    float:none;
  }

  .logo img {
    margin:auto;
  }

  #MobileHeader {
    background:#fff;
    display:block;
    text-align:center;
  }

  #MobileHeader p {
    font-size:12px;
    color:#333;
    padding:10px 0;
  }

  #MobileHeader .logo img {
    width:100%;
  }

  .centerCol .sect {
    margin-bottom:0;
  }

  .centerCol .sect.horiz ul li:last-child {
    border-bottom:0 none;
  }

  .rightCol {
    max-width:100%;
  }

  #MainContent {
    padding-top:0;
  }

  #MainContent .bannerAd img {
    width:100%;
  }

  #MainContent .sect {
    border-left:0 none;
  }

  body.tablet .rotator {
    margin-bottom:0;
  }

  .rotator .gallery .infoCont h2 {
    font-size:14px;
  }

  .rotator .gallery .infoCont {
    height:80px;
  }

  #FindForm {
    padding:25px 10px;
  }

  #FindForm input.search {
    width:32% !important;
  }

  #FindForm .type {
    width: 20% !important;
  }

  #FindForm .sub {
    display:none;
  }

  #MobileBannerAd {
    margin-bottom:0;
  }

  .rightCol .sect {
    width:100%;
  }

  .adSect .ad {
    margin:0 auto 30px !important;
  }

  #LowerAds, #LowerTallAd {
    float:none;
    margin:auto;
    clear:both;
  }

  .detailFeature.sect {
    margin-top:12px;
    border-top:0 none !important;
  }

  .detailFeature h1 {
    margin-left:10px;
  }

  .detailFeature .evtTmb {
    float:none !important;
  }

  .detailFeature .evtTmb img {
    width:100% !important;
    padding-left:0 !important;
  }

  .detailFeature .evtTmb .rsvpBtn {
    float:right;
    margin:0 10px;
    position:relative;
    top:-10px;
  }

  .detailFeature .detailCont {
    padding:10px;
    clear:both;
  }

  .detailFeature .detailCont .desc {
    width:100%;
  }

  .detailFeature .detailCont .people .likes, 
  .detailFeature .detailCont .people .checkins {
    float:none;
    width:100% !important;
    margin-bottom:30px;
  }

  .centerCol .sect.horiz ul li .thumb {
    margin-left:0;
    margin-right:8px;
  }

  .centerCol .sect.horiz ul li .thumb img {
    width:100% !important;
  }

  #SearchResults .venueName {
    float:left !important;
  }

  #SearchResults .bc {
    float:right !important;
  }

  .detailFeature .ratingWidget {
    padding-left:10px;
  }

  .detailFeature .ratingWidget .cust {
    margin-bottom:20px;
  }

  .detailFeature .map {
    float:none !important;
  }

  .detailFeature .map img {
    display:block;
    width:94% !important;
    padding:0 3% !important;
  }

  .detailFeature .checkinBtn {
    margin-left:10px !important;
  }

}