<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   <title>Townwizard Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    <link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="css/charisma-app.css" rel="stylesheet">
    <link href='bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='css/jquery.noty.css' rel='stylesheet'>
    <link href='css/noty_theme_default.css' rel='stylesheet'>
    <link href='css/elfinder.min.css' rel='stylesheet'>
    <link href='css/elfinder.theme.css' rel='stylesheet'>
    <link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='css/uploadify.css' rel='stylesheet'>
    <link href='css/animate.min.css' rel='stylesheet'>

    <!-- jQuery -->
    <script src="bower_components/jquery/jquery.min.js"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">
	
	<!--For Multiple file upload start -->
		<!-- blueimp Gallery styles -->
		<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
		<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
		<link rel="stylesheet" href="bower_components/image-upload/css/jquery.fileupload.css">
		<link rel="stylesheet" href="bower_components/image-upload/css/jquery.fileupload-ui.css">
		<!-- CSS adjustments for browsers with JavaScript disabled -->
		<noscript><link rel="stylesheet" href="bower_components/image-upload/css/jquery.fileupload-noscript.css"></noscript>
		<noscript><link rel="stylesheet" href="bower_components/image-upload/css/jquery.fileupload-ui-noscript.css"></noscript>
	<!--For Multiple file upload end -->
</head>

<body>
    <!-- topbar starts -->
     <div class="navbar navbar-default" role="navigation">
		
        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="admin.html"><img alt="Townwizard Logo" src="img/tw_logo.png" class=""/></a>

            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
				
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
				
            </div>
            <!-- user dropdown ends -->
			<!-- theme selector starts -->
            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tint"></i><span
                        class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="themes">
                    <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                    <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                    <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                    <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                    <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                    <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                    <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                    <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                    <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
                </ul>
            </div>
            <!-- theme selector ends -->

            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                <li><a href="#"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
                <li>
                    <form class="navbar-search pull-left">
                        <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                               type="text">
                    </form>
                </li>
            </ul>

        </div>
    </div>
    <!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        
         <!-- left menu starts -->
		<div class="col-sm-1 col-lg-1">
			<div class="sidebar-nav">
                <div class="nav-canvas">
				 <div class="nav-sm nav nav-stacked">
sdg
                 </div>
				<ul class="nav nav-pills nav-stacked main-menu">
				    
					<li>
						<a class="icon48" href="#" title="Design your mobile app" data-placement="right" data-toggle="tooltip"><span class="icon-smartphone"></span></a>
					</li>
			   		<li>
				        <a class="icon48" href="menus.html" title="Design your tablet app" data-placement="right" data-toggle="tooltip">
					        <span class="icon-tablet"></span>
				        </a>
			   		</li>
		        	<li>
			            <a class="icon48" href="events.html" title="Add content to your application" data-placement="right" data-toggle="tooltip">
			                <span class="icon-content"></span>
			            </a>
					</li>
			       <li>
	                    <a class="icon48" href="settings.html" title="Manage application settings" data-placement="right" data-toggle="tooltip">
		                    <span class="icon-gears"></span>
	                    </a>
		          </li>
				   <li>
			            <a class="icon48" href="users.html" title="Engage your users" data-placement="right" data-toggle="tooltip">
				            <span class="icon-pulse"></span>
			            </a>
			       </li>
				</ul>
				</div>
			</div>
		</div>
        
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>
		<div class="col-sm-2 col-lg-2 clearfix">

	        <div class="mob-menu pull-right theme-container animated tada">
	            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Select Menu <span class="caret"></span></button>
	            <ul class="dropdown-menu">
					<li><a class="ajax-link" href="events.html"><i class="glyphicon glyphicon-calendar"></i><span> Events</span></a>
		            </li>
		            <li><a class="ajax-link" href="locations.html"><i class="glyphicon glyphicon-map-marker"></i><span> Locations</span></a>
		            </li>
					<li><a href="gallery.html" class="ajax-link"><i class="glyphicon glyphicon-picture"></i><span> Gallery</span></a></li>
					 <li><a class="ajax-link" href="articles.html"><i class="glyphicon glyphicon-book"></i><span> Articles Manager</span></a>
					 </li>
					 <li><a class="ajax-link" href="banners.html"><i class="glyphicon glyphicon-folder-open"></i><span> Manage Banners</span></a></li> 
					 <li><a class="ajax-link" href="templates.html"><i class="glyphicon glyphicon-th-large"></i><span> Template Manager</span></a>
					 </li>
					<li><a class="ajax-link" href="languages.html"><i class="glyphicon glyphicon glyphicon-flag"></i><span> Language Manager</span></a>
					 </li>

	            </ul>

	        </div>
        	<div class="sub-sidebar-nav">
					<ul class="nav nav-pills nav-stacked main-menu">
			            <li class="nav-header">Manage Content</li>
			            <li><a class="ajax-link" href="events.html"><i class="glyphicon glyphicon-calendar"></i><span> Events</span></a>
			            </li>
			            <li><a class="ajax-link" href="locations.html"><i class="glyphicon glyphicon-map-marker"></i><span> Locations</span></a>
			            </li>
						<li><a href="gallery.html" class="ajax-link"><i class="glyphicon glyphicon-picture"></i><span> Gallery</span></a></li>
						 <li><a class="ajax-link" href="articles.html"><i class="glyphicon glyphicon-book"></i><span> Articles Manager</span></a>
						 </li>
						 <li><a class="ajax-link" href="banners.html"><i class="glyphicon glyphicon-folder-open"></i><span> Manage Banners</span></a></li> 
						 <li><a class="ajax-link" href="templates.html"><i class="glyphicon glyphicon-th-large"></i><span> Template Manager</span></a>
						 </li>
						<li><a class="ajax-link" href="languages.html"><i class="glyphicon glyphicon glyphicon-flag"></i><span> Language Manager</span></a>
						 </li>
					</ul>
			</div>
		</div><br/>

        <div id="content" class="col-lg-9 col-sm-9">
            <!-- content starts -->
	       <div>
	        <ul class="breadcrumb">
	            <li>
	                <a href="#">Home</a>
	            </li>
	            <li>
	                <a href="#">Gallery</a>
	            </li>
	        </ul>
   		 </div>
	
	<div class="row">
			<ul class="nav navbar-nav nav-pills loc_menu main-menu">
				<li title="Photos" data-placement="bottom" data-toggle="tooltip"><a href="gallery.html"><i class="glyphicon glyphicon-picture"></i></a></li>
				<li title="Categories" data-placement="bottom" data-toggle="tooltip"><a href="photoscategory.html"><i class="glyphicon glyphicon-list"></i></a></li>
				<!--<li title="Settings" data-placement="bottom" data-toggle="tooltip"><a href="Settings.html"><i class="glyphicon glyphicon-cog"></i></a></li>-->
			</ul>
	</div>
    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-picture"></i> Gallery</h2>

                   <div class="navbar-right event-btn">
					<a href="#" class="btn-setting"><i class="glyphicon glyphicon-plus-sign"></i> ADD NEW</a>
					<a href="#" class=""><i class="glyphicon glyphicon-trash icon-white"></i> DELETE</a>
       			 </div>
                </div>
                <div class="box-content">
					<table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
					    <thead>
					    <tr>
					        <th>ID</th>
					        <th>Title</th>
					        <th>Filename</th>
					        <th>Category</th>
					        <th>Status</th>
					        <th>Actions</th>
					    </tr>
					    </thead>
						<tbody>
							<tr>
						        <td>
									<input type="checkbox" id="inlineCheckbox1" value="101"> 
									<label class="checkbox-inline">
					                    101
					                </label>
								</td>
						        <td>photo1</td>
						        <td>photo1.jpg</td>
						        <td class="center">Events</td>
						        <td class="center">
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-ok-sign"></i>
						            </a>
						        </td>
						        <td class="center">
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-edit icon-white"></i>
						            </a>
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-trash icon-white"></i>
						            </a>
						        </td>
						    </tr>
							<tr>
						        <td>
									<input type="checkbox" id="inlineCheckbox1" value="102"> 
									<label class="checkbox-inline">
					                    102
					                </label>
								</td>
						        <td>photo2</td>
						        <td>photo2.jpg</td>
						        <td class="center">Events</td>
						        <td class="center">
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-remove-sign"></i>
						            </a>
						        </td>
						        <td class="center">
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-edit icon-white"></i>
						            </a>
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-trash icon-white"></i>
						            </a>
						        </td>
						    </tr>
							<tr>
						        <td>
									<input type="checkbox" id="inlineCheckbox1" value="103"> 
									<label class="checkbox-inline">
					                    103
					                </label>
								</td>
						        <td>photo3</td>
						        <td>photo3.jpg</td>
						        <td class="center">Events</td>
						        <td class="center">
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-ok-sign"></i>
						            </a>
						        </td>
						        <td class="center">
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-edit icon-white"></i>
						            </a>
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-trash icon-white"></i>
						            </a>
						        </td>
						    </tr>
							<tr>
						        <td>
									<input type="checkbox" id="inlineCheckbox1" value="104"> 
									<label class="checkbox-inline">
					                    104
					                </label>
								</td>
						        <td>video1</td>
						        <td>video.mp4</td>
						        <td class="center">Vidoes</td>
						        <td class="center">
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-ok-sign"></i>
						            </a>
						        </td>
						        <td class="center">
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-edit icon-white"></i>
						            </a>
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-trash icon-white"></i>
						            </a>
						        </td>
						    </tr>
							<tr>
								<td>
									<input type="checkbox" id="inlineCheckbox1" value="105"> 
									<label class="checkbox-inline">
					                    105
					                </label>
								</td>
						       <td>video2</td>
						        <td>video2.mp4</td>
						        <td class="center">Vidoes</td>
						        <td class="center">
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-ok-sign"></i>
						            </a>
						        </td>
						        <td class="center">
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-edit icon-white"></i>
						            </a>
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-trash icon-white"></i>
						            </a>
						        </td>
						    </tr>
							<tr>
						        <td>
									 <input type="checkbox" id="inlineCheckbox1" value="106"> 
									<label class="checkbox-inline">
					                   106
					                </label>
								</td>
						        <td>video3</td>
						        <td>video3.mp4</td>
						        <td class="center">Vidoes</td>
						        <td class="center">
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-remove-sign"></i>
						            </a>
						        </td>
						        <td class="center">
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-edit icon-white"></i>
						            </a>
						            <a class="" href="#">
						                <i class="glyphicon glyphicon-trash icon-white"></i>
						            </a>
						        </td>
						    </tr>
						</tbody>
					    </table>
					<div class="upload_buttons">
						<form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
				        <!-- Redirect browsers with JavaScript disabled to the origin page -->
				        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
				        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
				        <div class="row fileupload-buttonbar">
				            <div class="col-lg-7">
				                <!-- The fileinput-button span is used to style the file input field as button -->
				                <span class="btn btn-default fileinput-button">
				                    <i class="glyphicon glyphicon-plus"></i>
				                    <span>Add files...</span>
				                    <input type="file" name="files[]" multiple>
				                </span>
				                <button type="submit" class="btn btn-default start">
				                    <i class="glyphicon glyphicon-upload"></i>
				                    <span>Start upload</span>
				                </button>
				                <button type="reset" class="btn btn-default cancel">
				                    <i class="glyphicon glyphicon-ban-circle"></i>
				                    <span>Cancel upload</span>
				                </button>
				                <button type="button" class="btn btn-default delete">
				                    <i class="glyphicon glyphicon-trash"></i>
				                    <span>Delete</span>
				                </button>
				                <input type="checkbox" class="toggle">
				                <!-- The global file processing state -->
				                <span class="fileupload-process"></span>
				            </div>
				            <!-- The global progress state -->
				            <div class="col-lg-5 fileupload-progress fade">
				                <!-- The global progress bar -->
				                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
				                </div>
				                <!-- The extended global progress state -->
				                <div class="progress-extended">&nbsp;</div>
				            </div>
				        </div>
						
				        <!-- The table listing the files available for upload/download -->
				        <table role="presentation" class="table table-striped"><tbody class="files"><div class="file-drop-zone">Drag &amp; drop files here …</div></tbody></table>
				    </form>
			    	</div>
				</div>
            </div>
        </div>
        <!--/span-->

    </div><!--/row-->

    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Upload New Photo</h3>
                </div>
                <div class="modal-body">
                    <form role="form">
	                    <div class="form-group clearfix">
	                        <label for="title" class="col-md-3">Title</label>
	                       	<div class="col-md-9">
						   	 	<input type="text" class="form-control" placeholder="Enter photo name">
							</div>
	                    </div>
						<div class="form-group clearfix">
	                        <label for="category" class="col-md-3">Categories</label>
	                        <div class="col-md-9">
								<select data-rel="chosen" class="form-control" data-placeholder="Select Event Category">	
									<option value="">Select Photo Category</option>
	                                <option value="">General</option>
	                                <option value="">Music</option>
	                                <option value="">Parties</option>
	                                <option value="">Concerts</option>
								</select>
							</div>
	                    </div>
						<div class="form-group clearfix">
	                        <label for="photo" class="col-md-3">Image</label>
	                        <div class="col-md-9">
								<input draggable multiple="multiple" type="file" id="InputFile" name="photo[]">
							</div>
                    	</div>
						<div class="form-group clearfix">
	                        <label for="img" class="col-md-3">Video Code(You Tube)</label>
	                        <div class="col-md-9">
								<textarea name="summernote" id="summernote" cols="58" rows="5"></textarea> 
							</div>
	                    </div>
						<div class="form-group clearfix">
	                        <label for="Published" class="col-md-3">Published</label>
	                        <div class="col-md-9">
								<label class="radio-inline">
				                    <input type="radio" name="publish" id="inlineRadio1" value="option2" checked>Yes
				                </label>
				                <label class="radio-inline">
				                    <input type="radio" name="publish" id="inlineRadio2" value="option3"> No
				                </label>
							</div>
	                    </div>
					</form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="row">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="http://www.townwizard.com" target="_blank">Townwizard</a> 2011 - 2014</p>

        <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a target="_blank" href="http://www.townwizard.com">Townwizard</a></p>
    </footer>

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src='bower_components/moment/min/moment.min.js'></script>
<script src='bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='js/jquery.dataTables.min.js'></script>

<!-- select or dropdown enhancer -->
<script src="bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script src="js/charisma.js"></script>

<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-default start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-default cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-default cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="bower_components/image-upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- blueimp Gallery script -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="bower_components/image-upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="bower_components/image-upload/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="bower_components/image-upload/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="bower_components/image-upload/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="bower_components/image-upload/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="bower_components/image-upload/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="bower_components/image-upload/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="bower_components/image-upload/js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="bower_components/image-upload/js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
</body>
</html>
