a {
    color: #00467F;
    text-decoration: none;
}

.fl {
    float: left;
}

.fr{
	 float: right;
    margin-top: 18px;
}

h1{
 	font-size:13px;
}

.bold {
  font-weight:bold;
}

#EventPhotoGallery {
	clear:both;
}

#EventPhotoGallery .heading {
    background: url("../images/grayArrowLg.png") no-repeat scroll right 50% transparent;
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding-right: 15px;
    text-transform: uppercase;
}
.printBtn {
    background: url("../images/header/printIcon.png") no-repeat scroll center top transparent;
    float: right;
    height: 32px;
    margin-right: 10px;
    width: 32px;
}

.detailFeature .address {
   margin: 5px 0 10px;
}

#VenueDetail,#EventDetail{
	font-family:arial;
	font-size:12px;
}

#VenuePhotoGallery {
    border-top: 3px solid #000000 !important;
    margin-bottom: 0 !important;
	
}

.likes{
	padding-bottom: 10px;
}

#VenuePhotoGallery ul{
	padding:0px;
	list-style:none;
	clear: both;
}

.takeOverlay,#yogi{
	display: none;
}

/* event info page */
p.desc img {
	float: right;
	padding-left: 12px;
	max-width:200px !important;
	}
	
p.ven_desc img {
	padding: 5px;
	max-width:200px !important;
	}
/* event info page */
